<h1 class="h1 font-weight-light mt-5">
    About GiiN webinar series
</h1>

<p class="p mt-3">
The first GiiN Webinars Series (2021-2022) happens every second Tuesday of the month. It covers latest cutting-edge research in the field of genome stability from two scientists working either in the Italian territory or abroad. This series operates under the kind patronage of AIRC Italian Foundation for Cancer Research.
</p>

<p class="p mt-0">
For more information, to volunteer or to be added to our mailing list, contact us at <a href="mailto:{{site.email}}">{{site.email}}</a>
</p>