{% if site.footer-links.email %}
<a class="footer-icon-links" href="mailto:{{ site.footer-links.email }}">
  <i class="far fa-envelope"></i>
</a>
{% endif %} 

{% if site.footer-links.rss %}
<a class="footer-icon-links" href="{{ site.baseurl }}/feed.xml">
  <i class="fas fa-rss-square"></i>
</a>
{% endif %}

{% if site.footer-links.linkedin %}
<a class="footer-icon-links" href="https://www.linkedin.com/{{ site.footer-links.linkedin }}">
  <i class="fab fa-linkedin"></i>
</a>
{% endif %} 

{% if site.footer-links.github %}
<a class="footer-icon-links" href="https://github.com/{{ site.footer-links.github }}">
  <i class="fab fa-github"></i>
</a>
{% endif %} 

{% if site.footer-links.instagram %}
<a class="footer-icon-links" href="https://instagram.com/{{ site.footer-links.instagram }}">
  <i class="fab fa-instagram"></i>
</a>
{% endif %} 

{% if site.footer-links.twitter %}
<a class="footer-icon-links" href="https://www.twitter.com/{{ site.footer-links.twitter }}">
  <i class="fab fa-twitter"></i>
</a>
{% endif %} 

{% if site.footer-links.facebook %}
<a class="footer-icon-links" href="https://www.facebook.com/{{ site.footer-links.facebook }}">
  <i class="fab fa-facebook-square"></i>    
</a>
{% endif %} 
