---
---



@import 'bootstrap/bootstrap';

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.0/font/bootstrap-icons.css");

.nav-link {
	line-height: 1.5;
	color: #111;
}

.post-date {
	font-size: 14px;
	color: #828282
}

.archive-title {
	font-size: 24px;
	font-weight: 400;
}

body {
  font:400 16px/1.5 -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  color:#111;
  background-color:#fdfdfd;
  -webkit-text-size-adjust:100%;
  -webkit-font-feature-settings:"kern" 1;
  -moz-font-feature-settings:"kern" 1;
  -o-font-feature-settings:"kern" 1;
  font-feature-settings:"kern" 1;
  font-kerning:normal;
  display:flex;
  min-height:100vh;
  flex-direction:column
}
