---
---

@import 'bootstrap/bootstrap';

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.0/font/bootstrap-icons.css");

p {
	font-size: 18px	;
}

.post-date {
	font-size: 14px;
	color: #828282
}

.archive-title {
	font-size: 24px;
	font-weight: 400;
}

.archive-item {
  margin-bottom: 20px;
}

.footer-icon-links {
	font-size: 24px;
	padding:  0.5rem;
	color: #828282;
	text-decoration: none;
}

.footer-icon-links:hover {
	text-decoration: none;
}

.mission-statement {
	font-size:  18px;
}

.talk-card {
	background: $gray-200;
	border-radius: 10px;
	margin:  0.25em;
	padding: 1em;
}

.talk-card p {
	font-size: 20px;
}

.headshot {
  display: block;
  max-width: 250px;
  max-height:250px;
  width: auto;
  height: auto;
}

.card {
  margin: 0 auto; /* Added */
  float: none; /* Added */
  margin-bottom: 10px; /* Added */
}