---
---



@import 'bootstrap/bootstrap';

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.0/font/bootstrap-icons.css");

.post-date {
	font-size: 14px;
	color: #828282
}

.archive-title {
	font-size: 24px;
	font-weight: 400;
}

.archive-item {
  margin-bottom: 20px;
}