---
layout: post
---

<h1 class="h1 font-weight-light">
    Welcome to the {{ page.date | date: "%B" }} session!
</h1>

<p class="p">We are excited to host two great talks this month:</p>

<div class="row mt-5">
    {% for speaker in page.speakers %}
    <div class="col-lg-6 text-center">
        {% if speaker.talk %}
        <h3 class="h3">{{speaker.talk}}</h3>
        <h4 class="h4 font-weight-light">{{speaker.name}}, {{speaker.title}}</h4>
        <h5 class="h5 font-weight-light">{{speaker.institute}}, {{speaker.nation}}</h5>
        {% else %}
        <h3 class="h3 font-weight-light">{{speaker.name}}, {{speaker.title}}</h3>
        <h4 class="h4 font-weight-light">{{speaker.institute}}, {{speaker.nation}}</h4>
        {%endif%}
    </div>
    {% endfor %}
</div>

{% if page.chairs.size > 0 %}
<p class="p mt-3">
{% if page.chairs.size == 1 %}
    Chair of the session will be:
{% elsif page.chairs.size > 1 %}
    Chairs of the session will be:
{%endif%}
</p>

<ul>
    {% for chair in page.chairs %}
    <li>
        <strong>{{chair.name}}</strong> - {{chair.institute}}
    </li>
    {% endfor %}
</ul>
</div>
{% endif %}

{% for speaker in page.speakers %}
{% if speaker.bio %}
<h2 class="h2 font-weight-light">
About the speaker: {{speaker.name}}
</h2>

<div class="row mb-3">
    <div class="col">
        <div class="clearfix">
            <img alt="{{speaker.name}}" src="{{speaker.pic}}" class="col-lg-4 float-left"/>
            <p class="d-inline">
                {{speaker.bio}}
            </p>
            {% if speaker.website %}
            <div>
            <a href="{{speaker.website}}" class="btn btn-primary mt-5" target="_blank">{{speaker.name}} website</a>
            
            {% if speaker.pubmed %}
            <a href="{{speaker.pubmed}}" class="btn btn-primary mt-5" target="_blank">PubMed</a>
            {%endif%}
            </div>
            {%endif%}
        </div>
    </div>
</div>
{% endif %}
{% endfor %}

{{content}}

{% include about-webinars.html %}