---
layout: default
---

{% if page.talkdate %}
{% assign talkdate = page.talkdate %}
{% else %}
{% assign talkdate = page.date %}
{% endif %}

<div class="container mt-3">
  <span class="fs-4 text-muted">
  {{ talkdate | date: "%B %d, %Y" }}
  </span>
  <div class="mt-4">
<h1 class="h1 font-weight-light">
    Welcome to the {{ talkdate | date: "%B" }} session!
</h1>

<p class="p">We are excited to host two great talks this month:</p>

<div class="row mt-5">
    {% include talk-titles.html speakers=page.speakers %}
</div>

{% if page.chairs.size > 0 %}
<p class="p mt-3">
{% if page.chairs.size == 1 %}
    Chair of the session will be:
{% elsif page.chairs.size > 1 %}
    Chairs of the session will be:
{%endif%}
</p>

<ul>
    {% for chair in page.chairs %}
    <li>
        <p class="mb-0"><strong>{{chair.name}}</strong> - {{chair.institute}}</p>
    </li>
    {% endfor %}
</ul>
</div>
{% endif %}

{% for speaker in page.speakers %}
{% if speaker.bio %}
<div class="row">
    <div class="col-lg-10">
<h2 class="h2 font-weight-light">
    {% if speaker.name.size > 1 %}
    About the speakers: {{speaker.name | join: " and " }}
    {%else%}
    About the speaker: {{speaker.name}}
    {%endif%}

    


</h2>
</div>
{% if speaker.website or speaker.pubmed %}
    <div class="float-right">
        <div class='d-none d-lg-block d-xl-block'>
        {% if speaker.website %}
            <a href="{{speaker.website}}" class="btn btn-primary" target="_blank" data-toggle="tooltip" data-placement="top" title="{{speaker.name}} personal website">
                <i class="far fa-user"></i>
            </a>
        {%endif%}
        {% if speaker.pubmed %}
            <a href="{{speaker.pubmed}}" class="btn btn-primary" target="_blank" data-toggle="tooltip" data-placement="top" title="{{speaker.name}} on PubMed">
                <i class="fas fa-university"></i>
            </a>
        {%endif%}
        </div>
    </div>
{% endif %}


</div>

<div class="row mb-3">
    <div class="col">
        <div class="clearfix">
            {% if speaker.pic %}
            <img alt="{{speaker.name}}" src="{{speaker.pic}}" class="col-lg-4 float-left headshot" />
            <div class="d-inline">
                <p class="text-jusify">
                    {{speaker.bio}}
                </p>
            </div>
            {% else %}
            <p class="d-inline text-justify">
                {{speaker.bio}}
            </p>
            {% endif %}
        </div>
    </div>
</div>
{% endif %}
{% endfor %}

{{content}}

{% include about-webinars.html %}
</div>
</div>